/*
 * ZPix Gradio app custom styles.
 */

.blurred {
    filter: blur(4px);
    pointer-events: none;
    user-select: none;
}

#tou-row {
    position: fixed;
    inset: 0;
    place-content: center;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1000;
}

/*
 * Gradio CSS classes and variables are subject to
 * change in future versions; but since we pinned
 * a Gradio version, this shouldn't be an issue...
 */

#tou-card {
    max-width: 360px;
    padding: 1rem;
    background: var(--block-background-fill);
    border-radius: 5px;
    text-align: center;
}

.sidebar {
    max-width: 48px;
}

.sidebar img {
    max-width: unset;

    height: 34px;
    width: 34px;
}

.sidebar .hide-container,
.sidebar .form {
    display: none;
}

.gallery-container .caption {
    padding: 0.1em;
    font-weight: normal;
    white-space: break-spaces;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
}

.fullscreen .gallery-container .caption {
    display: none;
}

footer .divider {
    display: none;
}